USE [VideoGames]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 13/10/2024 10:12:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameName] [varchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsEspecialEdition] [bit] NOT NULL,
	[IsDigital] [bit] NOT NULL,
	[Company] [varchar](20) NULL,
	[IsPlayed] [bit] NOT NULL,
	[ConsoleName] [varchar](50) NOT NULL,
	[IsFinished] [bit] NULL,
	[IsProtected] [bit] NOT NULL,
	[GameId] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoGameConsoles]    Script Date: 13/10/2024 10:12:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoGameConsoles](
	[NameConsole] [varchar](255) NOT NULL,
	[Company] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsEspecialEdition] [bit] NOT NULL,
	[IsPortable] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IsProtected] [bit] NOT NULL,
	[Description] [varchar](max) NULL,
	[ConsoleId] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Games] ([GameName], [Quantity], [IsEspecialEdition], [IsDigital], [Company], [IsPlayed], [ConsoleName], [IsFinished], [IsProtected], [GameId]) VALUES (N'The Legend of Zelda: Tears of the Kingdom', 1, 0, 0, N'Nintendo', 1, N'Switch', 0, 1, NULL)
INSERT [dbo].[Games] ([GameName], [Quantity], [IsEspecialEdition], [IsDigital], [Company], [IsPlayed], [ConsoleName], [IsFinished], [IsProtected], [GameId]) VALUES (N'MegaMan Battle Network Legacy Collection', 1, 0, 0, N'Nintendo', 1, N'Switch', 0, 1, NULL)
INSERT [dbo].[Games] ([GameName], [Quantity], [IsEspecialEdition], [IsDigital], [Company], [IsPlayed], [ConsoleName], [IsFinished], [IsProtected], [GameId]) VALUES (N'Digimon Survive', 1, 0, 0, N'Nintendo', 0, N'Switch', 0, 1, NULL)
GO
INSERT [dbo].[VideoGameConsoles] ([NameConsole], [Company], [Quantity], [IsEspecialEdition], [IsPortable], [IsNew], [IsOpen], [IsComplete], [IsProtected], [Description], [ConsoleId]) VALUES (N'Switch Lite', N'Nintendo', 1, 0, 1, 1, 1, 1, 1, N'', NULL)
INSERT [dbo].[VideoGameConsoles] ([NameConsole], [Company], [Quantity], [IsEspecialEdition], [IsPortable], [IsNew], [IsOpen], [IsComplete], [IsProtected], [Description], [ConsoleId]) VALUES (N'Switch Oled', N'Nintendo', 1, 0, 1, 1, 1, 1, 0, N'', NULL)
INSERT [dbo].[VideoGameConsoles] ([NameConsole], [Company], [Quantity], [IsEspecialEdition], [IsPortable], [IsNew], [IsOpen], [IsComplete], [IsProtected], [Description], [ConsoleId]) VALUES (N'Wii U Deluxe Set', N'Nintendo', 1, 0, 0, 0, 1, 1, 0, N'', NULL)
GO
ALTER TABLE [dbo].[VideoGameConsoles] ADD  DEFAULT (NULL) FOR [ConsoleId]
GO
